<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-permission android:name="android.permission.ACCESS_VENDOR_PROPERTIES" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.Light.NoActionBar"
        android:usesCleartextTraffic="true"

        tools:targetApi="31">
        <activity
            android:name=".ExceptionDisplay"
            android:theme="@style/Theme.Material3.Light.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".UpdatePasswordActivity"
            android:theme="@style/Theme.Material3.Light.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".ServicesActivityModem"
            android:theme="@style/Theme.Material3.Light.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".ActivityUpdateUser"
            android:theme="@style/Theme.Material3.Light.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".UserActivity"
            android:theme="@style/Theme.Material3.Light.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/Theme.Material3.Light.NoActionBar"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.Material3.Light.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.Material3.Light.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
